
:root{
    --body-font:'Playfair Display', serif;
    --body-font-weight:400;
    --logo-font-weight:900;
    --base-font-size:1em;
    --dark:#000;
    --light:#fff

}
html
{
    box-sizing: border-box;
}

*,*::after,*::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--body-font);
    font-size: var(--base-font-size);
}

header.main-header{
    display: flex;
    justify-content: center;
    align-items: start;
    margin:6rem auto 0 auto;

}

header h1.main-title{
    font-family: var(--body-font);
    font-weight: var(--logo-font-weight);
    font-size: calc(var(--base-font-size)*2);

}

main{
    border: 5px solid var(--dark);
    margin:2rem auto;
    max-width: 1200px;

}

nav{
    border-bottom: 4px solid var(--dark);


}
nav ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

nav ul li a{
    text-decoration: none;
    font-size: calc(var(--base-font-size)*1.5);
    color:var(--dark);


}
section article{
    padding: 1rem;
}

article img{
    width: 100%;
    padding: 1em 0;
}
section#content .top-news{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:1rem;

    margin:0;
}


section#content .top-news article:not(:last-child){
    border-right:4px solid var(--dark);
    padding-right:2rem;

}

section#content .ads{
    display: grid;
    grid-template-columns: 1fr 2fr;

    border-top: 4px solid var(--dark);

}

aside{
    display: flex;
    justify-content: center;
    border-bottom: 4px solid var(--dark);
    background: var(--dark);
    color:var(--light);
}

aside h5{
    font-style: italic;
}